#taskentry{
    font-family: Helvetica;
      }
#card1{
  font-family: Helvetica;
  background-color: lightgreen;
}
#card1{
    font-family: Helvetica;
    background-color: greenyellow;
  }
    
  #card2{
    font-family: Helvetica;
    background-color: greenyellow;
  }
    
  #card3{
    font-family: Helvetica;
    background-color: greenyellow;
  }
    
  #card4{
    font-family: Helvetica;
    background-color: greenyellow;
  }
  #card5{
    font-family: Helvetica;
    background-color: greenyellow;
  }

  body {
    background-color : #484848;
    margin: 0;
    padding: 0;
}

form {
  width: 400px;
  margin: 0 auto;
}

.input {
  background-color: yellow-100;
}