.fullcontainer{
    font-family: Helvetica;
    background-color:#efe2ba;
        }
.cardgreen{
  font-family: Helvetica;
  background-color: #c2cad0;
  text-align: justify;
  font-size: x-large;
  }
.cardimage{
  
 max-block-size: inherit;
 }

 .cardtitle
 {
  font-family: Helvetica;
  font-size: xx-large;
 }


 /* body {
    background-color : #484848;
    margin: 0;
    padding: 0;
}

form {
  width: 400px;
  margin: 0 auto;
}

.input {
  background-color: yellow-100;
}*/