#taskentry{
    font-family: Helvetica;
      }
#card1{
  font-family: Helvetica;
  background-color: lightgreen;
}
#card1{
    font-family: Helvetica;
    background-color: greenyellow;
  }
    
  #card2{
    font-family: Helvetica;
    background-color: greenyellow;
  }
    
  #card3{
    font-family: Helvetica;
    background-color: greenyellow;
  }
    
  #card4{
    font-family: Helvetica;
    background-color: greenyellow;
  }
  #card5{
    font-family: Helvetica;
    background-color: greenyellow;
  }
    
#list1{
    font-family: Helvetica;
    background-color: grey;
  }


    
  }